body {
    background-color: #37654f;
    color: aliceblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    background-color: #235b5a;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    font-style: normal;
    border: solid 5px #2f4858;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

fieldset {
    padding: 10px;
    background-color: #81b79a;
    font-weight: normal;
    font-style: normal ;
    color: rgb(5, 32, 35);
    border: solid 5px #2f4858;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

label {
    font-weight: 300;
    font-style: normal;
}

legend {
    font-size: medium;
    font-size: large;
    background-color: #cefbe3;
    padding: 5px;
    border: solid 3px rgb(7, 29, 23);
    font-weight: bolder;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body {
    margin: 10px;
    font-style: italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

hr {
    color: #235b5a;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

button {
    color: solid #cefbe3;
}

img {
    border: solid 5px #2f4858;
}